<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachE-Mapper">

	<select id="selectAttachE" resultType="attach">
		select * 
		from attach 
		where ev_no = #{ev_no}
	</select>	
	
	<update id="insertAttachE">
		insert into 
		attach (ano, uploadpath, filename, filetype, ev_no, attacher,regdate)
		values (ano_seq.nextval, #{uploadPath}, #{fileName},#{fileType}, #{ev_no},#{attacher},#{regdate} )
	</update>
	
	<update id="deleteAllAttachE">
		delete 
		from attach 
		where ev_no = #{ev_no}
	</update>
</mapper>  






