<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachN-Mapper">

	<select id="selectAttachN" resultType="attach">
		select * 
		from attach 
		where notice_no = #{notice_no}
	</select>	
	
	<update id="insertAttachN">
		insert into 
		attach (ano, uploadpath, filename, filetype, notice_no, attacher,regdate)
		values (ano_seq.nextval, #{uploadPath}, #{fileName},#{fileType}, #{notice_no},#{attacher},#{regdate} )
	</update>
	
	<update id="deleteAllAttachN">
		delete 
		from attach 
		where notice_no = #{notice_no}
	</update>
</mapper>  






